node_modules
docs
info.lcov
*.tgz
logs
*.bak
gen/*
*.txt
post_sort
test1x.json
coverage
testmodel/_cache.js.zip
testmodel/*.bak
testmodel/graph/*
testmodel/*.gv
# we check in gen for coveralls source references
