node_modules
docs
logs
coverage
test

*.tgz
logs
*.bak
gen/*
coverage
testmodel/_cache.js.zip
testmodel/*.bak
testmodel/graph/*
testmodel/*.gv

src
test
outpu
outpu*
tsconfig.json
README.md
.eslintrc.json
.npmignore
.gitignore
.travis.yml
.vscode
gulpfile.js

