node_modules
docs
logs
coverage
test
post_sort
test1x.json
*.txt
*.tgz
logs
*.bak
gen/*
coverage
testmodel/*.bak
testmodel/graph/*
testmodel/*.gv

src
test
outpu
outpu*
tsconfig.json
README.md
.eslintrc.json
.npmignore
.gitignore
.travis.yml
.vscode
gulpfile.js

